* {
  box-sizing: border-box;
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
}

.todo-box {
  background: white;
  padding: 20px;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.controls {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.controls input,
.controls select {
  flex: 1;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}

.done {
  text-decoration: line-through;
}

.badge {
  padding: 2px 6px;
  border-radius: 4px;
  color: white;
  font-size: 12px;
}

.low { background: green; }
.medium { background: orange; }
.high { background: red; }


.delete {
  background: none;
  border: none;
  cursor: pointer;
}
